body, html {
	background: #F5F5F5;
}

.book {
	border-radius: 2px;
	padding: 10px;
	margin: 10px;
  	cursor: pointer;
  	background: #FFFFFF;
	box-shadow: 1px 1px 1px #888888;
	border: 1px solid #CCCCCC;
}

.book-container {
	margin-top: 40px;
}

.book-img {
	width: 90px;
	height: 120px;
	margin-right: 10px;
}

.el-bold {
	margin-right: 5px;
	font-weight: bold;
}

.navbar-inner {
	top: 0px;
	position: fixed;
	width: 100%;
}

.modal-backdrop {
	background: #000000;
	opacity: 75%;
	position: fixed;
}

.navbar-search .search-query {
	font-size: 14px;
}

.book-container {
	min-height: 100%;
	overflow: hidden;
}

.empty-list {
	height: 100%;
	margin-top: 200px;
}

#pagination {
	padding-bottom: 10px;
}

#results-count {
	margin: 45px 0px 0px 37px;
}

#results-term {
	font-weight: bold;
	font-style: italic;
}