<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/flex.css">
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
	<div class="navbar-inner">
		<form class="navbar-search pull-left" action="/search" method="GET">
		  <input type="text" class="search-query" placeholder="Search books">
		</form>
	</div>
	<div class="book-container flex flex-row flex-row-wrap">
		<div th:each="book : ${books}">
			<nav class="book flex flex-column navbar navbar-default">
		     	<img class="book-img" th:src="@{${book.smImage}}" alt="small book image"/>
			 	<div class="title"><span class="el-bold">Title</span>[[${book.title}]]</div>
		     	<div><span class="el-bold">Author:</span>[[${book.author}]]</div>
		     	<div><span class="el-bold">Year:</span>[[${book.year}]]</div>
		     	<div><span class="el-bold">Language:</span>[[${book.language}]]</div>
		     	<div><span class="el-bold">Rating:</span>[[${book.rating}]]</div>
		     	<div><span class="el-bold">ISBN:</span>[[${book.isbn}]]</div>
	      	</nav>
	    </div>
    </div>
</body>
</html>