<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Search</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/flex.css">
	<link rel="stylesheet" href="/css/app.css">
	<link rel="stylesheet" href="/css/pagination.css">
</head>
<body>

	<div class="navbar-inner">
		<form class="navbar-search pull-left" action="/search" method="GET">
		  <input type="text" class="search-query" name="term" placeholder="Search books">
		</form>
	</div>
	
	<div id="book-count">
		<div id="results-count">
			<span id="results-term"></span>
			Results count: [[${count}]]
		</div>
	</div>
	
	<div th:if="${books.size() > 0}">
		<!-- if -->
		
		<div class="book-container flex flex-column flex-column-wrap">
		
			<div class="book" th:each="book : ${books}">
				<div class="flex flex-row navbar navbar-default">
			     	<img class="book-img" th:src="@{${book.smImage}}" alt="small book image"/>
			     	<div class="flex flex-column">
					 	<div class="title"><span class="el-bold title">Title</span>[[${book.title}]]</div>
				     	<div><span class="el-bold">Author:</span>[[${book.author}]]</div>
				     	<div><span class="el-bold">Year:</span>[[${book.year}]]</div>
				     	<div><span class="el-bold">Language:</span>[[${book.language}]]</div>
				     	<div><span class="el-bold">Rating:</span>[[${book.rating}]]</div>
				     	<div><span class="el-bold">ISBN:</span>[[${book.isbn}]]</div>
			     	</div>
		      	</div>
		    </div>
	    </div>
	</div>
	
	<script src="/javascripts/jquery-3.4.1.min.js"></script>
	<script src="/javascripts/pagination.min.js"></script>
	<script src="/javascripts/app.js"></script>
	
    <script th:inline="javascript">
     	/*<![CDATA[*/
    	document.addEventListener('DOMContentLoaded', function () {
			$('#pagination').pagination({
    			dataSource: /*[[${range}]]*/,
    			pageSize: 10,
    			callback: function(data, pagination) {
					$(".paginationjs-page a").bind("click", function() {
						insertParam("pageNum", $(this).text());
						$(".paginationjs-page a").removeClass("active");
					});
					
					$(".paginationjs-page").each(function() {
						$(this).removeClass("active");
						if ($(this).text() == getUrlParameter("pageNum")) {
							$(this).addClass("active");
						}
					});
    			}
			});
		
			function insertParam(key, value) {
		    	key = encodeURI(key);
		    	value = encodeURI(value);
			    var kvp = document.location.search.substr(1).split('&');
			    var i = kvp.length;
			    var x;
			    while (i--) {
			        x = kvp[i].split('=');
			
			        if (x[0] == key) {
			            x[1] = value;
			            kvp[i] = x.join('=');
			            break;
			        }
			    }
			
			    if (i < 0) {
			        kvp[kvp.length] = [key, value].join('=');
			    }
	
			    document.location.search = kvp.join('&');
			}
			
			function getUrlParameter(name) {
		    	name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
		    	var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
			    var results = regex.exec(location.search);
			    return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
			}
		});
       	/*]]>*/
	</script>
	
    <div id="pagination" class="flex flex-center flex-row"></div>
	
	<div th:unless="${books.size() > 0}">
		<div class="empty-list flex flex-center flex-column">
			<!-- else -->
	     	<div class="empty flex-align-center flex-space-between">
	     		<h2>Sorry, no search results to display</h2>
	     	</div>		
     	</div>
    </div>
</body>
</html>