<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Search</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/flex.css">
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>

	<div class="navbar-inner">
		<form class="navbar-search pull-left" action="/search" method="GET">
		  <input type="text" class="search-query" name="term" placeholder="Search books">
		</form>
	</div>
	
	<div th:if="${books.size() > 0}">
		<!-- if -->
		<div class="book-container flex flex-column flex-column-wrap">
			<div class="book" th:each="book : ${books}">
				<div class="flex flex-row navbar navbar-default">
			     	<img class="book-img" th:src="@{${book.smImage}}" alt="small book image"/>
			     	<div class="flex flex-column">
					 	<div class="title"><span class="el-bold">Title</span>[[${book.title}]]</div>
				     	<div><span class="el-bold">Author:</span>[[${book.author}]]</div>
				     	<div><span class="el-bold">Year:</span>[[${book.year}]]</div>
				     	<div><span class="el-bold">Language:</span>[[${book.language}]]</div>
				     	<div><span class="el-bold">Rating:</span>[[${book.rating}]]</div>
				     	<div><span class="el-bold">ISBN:</span>[[${book.isbn}]]</div>
			     	</div>
		      	</div>
		    </div>
	    </div>
	</div>
	
	<div th:unless="${books.size() > 0}">
		<div class="empty-list flex flex-center flex-column">
			<!-- else -->
	     	<div class="empty flex-align-center flex-space-between">
	     		<h2>Sorry, no search results to display</h2>
	     	</div>		
     	</div>
    </div>
	   
</body>
</html>